{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="font-sans bg-gray-500 font-sans leading-normal tracking-normal">
        <div id="header" class="flex justify-between bg-blue-800">
            <a class="px-5 py-3" href="{% url 'home' %}">Home</a>
            <a class="px-5 py-3" href="{% url 'home' %}">Home</a>
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                <a class="px-5 py-3" href="{% url 'create-quiz' %}">Create Quiz</a>
                {% endif %}
            <a class="px-5 py-3" href="{% url 'profile' %}">Profile</a>
            <a class="px-5 py-3" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="px-5 py-3" href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
        {% block content %}
            
        {% endblock content %}
	</body>
</html>
