{% extends "base.html" %}

{% block content %}
<div class="p-10">
{% for k, v in user_quizes.items %}
    {% if v.score %}
    <div class="py-4">
        <b>Complete: </b><a class="text-blue-800" href="{% url 'quiz' pk=v.quiz_name_id %}">{{ v.quiz_name }}</a><br />
    </div>
    {% else %}
    <div class="py-4">
        <b>Incomplete: </b><a class="text-blue-800" href="{% url 'quiz' pk=v.id %}">{{ v.quiz_name }}</a><br />
        <b>{{ v.due_date }}</b>
    </div>
    {% endif %}
{% endfor %}
</div>
{% if alert %}
<h1>Due date has passed</h1>
{% endif %}
{% endblock %}
