{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block content %}
<div class="mx-auto text-center">
    <h1 class="font-bold text-3xl py-5">Quiz: {{ quiz }}</h1>
    <p class="py-5 max-w-lg mx-auto">{{ quiz.quiz_description }}</p>
</div>
{% if ui.score >= 0 %}
    <b>You have already completed this quiz</b>
    <div class="p-10 max-w-lg bg-blue-200 rounded-xl mx-auto my-10">
    {% for k, v in q_dict.items %}
        <p class="p-2 bg-white rounded-xl mt-6 font-bold">{{ k|upper }}: {{ v }}</p>
        {% for q_numer, q_opts in questions.items %}
            {% if k == q_number %}
                {% for opt_key, opt_value in q_opts.items %}
                    {{ opt_key }}
                    {% if 'ans' in opt_key %}
                        <p class="p-2 bg-green-300 rounded-xl">{{ opt_key|upper }}: {{ opt_value }}</p> 
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div>
{% else %}

{{ quiz.score }}
<form method="post">
<div class="grid grid-cols-2 lg:grid-cols-3 gap-32">
    {% csrf_token %}
    {% for field in form %}
    <div class="flex flex-col mx-auto">
        <div class="font-bold text-xl">{{ field.name }}</div>
        <div>
            {% for a, b in q_dict.items %}
                {% if a == field.name %}<div class="font-bold bg-white p-2 m-1 rounded-xl">{{ b }}</div>{% endif %} 
            {% endfor %}
            {% for k, v in questions.items %}
                {% if field.name == k %}
                    {% for i, s in v.items %}
                        <div>{{ forloop.counter }}: {{ s }}</div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="bg-green-400 p-3 m-2 rounded-xl">
            {% for f in field %}
            <div class="flex justify-center sm:inline p-2">{{ f }}</div>
            {% endfor %}
        </div>
</div>
    {% endfor %}
</div>
<div class="block mx-auto text-center text-3xl py-5">
    <button class="bg-red-500 rounded-lg p-3 my-3 text-white hover:bg-blue-200 transition duration-500" type="submit">Submit</button>
</div>
</form>
{% endif %}
{% endblock %}
